asgiref==3.3.2
Django==3.2.3
django-cors-headers==3.7.0
djangorestframework==3.12.2
uwsgi==2.0.18
psycopg2-binary==2.8.5
python-dotenv==0.13.0
pytz==2019.3
sqlparse==0.3.1
mysqlclient==2.0.3
requests==2.25.0
channels==3.0.3
channels-redis==3.2.0
django-environ==0.4.5
boto3==1.17.12
django-widgets-improved == 1.5.0
django-ses==1.0.3
django-storages==1.11.1
warrant==0.6.1
rollbar==0.15.2
